:root {
    --blue: #2196f3;
    --black: #212121;
    --grey: #757575;
    --background-grey: #2f303a;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

ul,
p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    list-style: none;
}

.section {
    padding: 94px 0;
}

/* HEADER */
.flex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-nav-links {
    display: flex;
    align-items: center;
}

.border-nav {
    border-bottom: 1px solid #ececec;
}

.nav-links {
    display: flex;
    padding: 0px;
}

.nav-links li {
    margin: 32px 46px 32px 0;
}

.nav,
.contact {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.contact {
    color: var(--grey);
    margin-left: 50px;
}

.tab {
    color: var(--black);
}

.company-name {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    text-decoration: none;
    margin-right: 93px;
}

.logo {
    color: var(--blue);
}

.nav:hover {
    color: var(--blue);
}

/* EFEKTYWNE ROZWIĄZANIA... */
.solutions {
    color: white;
    background-color: var(--background-grey);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
}

.solutions .container {
    padding: 200px 452px 200px 452px;
}

/* BUTTONS */
.button {
    background-color: #f5f4fa;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.index {
    color: white;
    background-color: var(--blue);
    font-weight: 700;
    line-height: 30px;
}

.button:hover {
    color: white;
    background-color: var(--blue);
}

.button:focus {
    color: white;
    background-color: var(--blue);
    border-color: var(--blue);
}

.nav-buttons {
    display: flex;
    justify-content: center;
}

.nav-buttons li {
    margin-right: 8px;
}

/* SEKCJA TEKSTOWA LOREM */
.articles {
    color: var(--grey);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.articles h3 {
    color: var(--black);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    list-style: none;
    padding-bottom: 10px;
}

.flex-text {
    display: flex;
    gap: 30px;
}

.no-marks {
    list-style: none;
}

/* CZYM SIĘ ZAJMUJEMY, NASZ ZESPÓŁ */
.section-title {
    color: var(--black);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
}

.flex-photos {
    display: flex;
    padding: 50px 0 94px 0;
    justify-content: space-between;
    gap: 30px;
}

h2 {
    text-align: center;
}

.our-team {
    background-color: #f5f4fa;
    padding-top: 94px;
}

.our-team h3 {
    color: var(--black);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.our-team li {
    text-align: center;
    background-color: white;
    padding-bottom: 30px;
    /* wartości skopiowane bezpośrednio z figmy! */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.profession {
    /* zostawiam taką klasę, żeby nie dawać nowego nagłówka w sekcji h4 */
    color: var(--grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 30px;
}

/* MAIN STRONY PORTFOLIO */
.portfolio h3 {
    color: var(--black);
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}

.type {
    color: var(--grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 24px;
}

.flex-portfolio {
    display: flex;
    padding-bottom: 94px;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.flex-portfolio li {
    padding-bottom: 20px;
    border: 1px solid #eeeeee;
}

.flex-portfolio h3 {
    padding: 20px 0 4px 24px;
}

/* STOPKA */
.footer-wrapper {
    color: white;
    background-color: var(--background-grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
}

.footer-wrapper .container {
    padding: 60px;
}

.footer-wrapper .company-name-footer {
    padding-bottom: 20px;
}

address {
    margin-top: 20px;
}

address a {
    padding-bottom: 9px;
    margin-top: 9px;
}

.company-name-footer {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    text-decoration: none;
}

.footer-wrapper address {
    font-style: normal;
}

.footer-contact {
    color: #ffffff99;
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.footer-contact:hover {
    color: var(--blue);
}
